@model CreateBookingDto
@{
    ViewData["Title"] = "CreateBooking";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Rezervasyon İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Rezervasyon Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="name">Ad - Soyad Giriniz</label>
                                <input type="text" class="form-control" asp-for="Name" id="name">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="phone">Telefon Numarası Giriniz</label>
                                <input type="text" class="form-control" asp-for="Phone" id="phone">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="mail">Mail Adresi Giriniz</label>
                                <input type="email" class="form-control" asp-for="Mail" id="mail">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="personcount">Kişi Sayısı Giriniz</label>
                                <input type="number" class="form-control" asp-for="PersonCount" id="personcount">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="date">Rezervasyon Tarihi Giriniz</label>
                                <input type="date" class="form-control" asp-for="Date" id="date">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Rezervasyon Oluştur</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

