@model CreateSocialMediaDto
@{
    ViewData["Title"] = "CreateSocialMedia";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Sosyal Medya İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Sosyal Medya Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="title">Başlık Giriniz</label>
                                <input type="text" class="form-control" asp-for="Title" id="title">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="url">Url'ini Giriniz</label>
                                <input type="text" class="form-control" asp-for="Url" id="url">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="icon">İkon Giriniz</label>
                                <input type="text" class="form-control" asp-for="Icon" id="icon">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Sosyal Medya Hesabı Ekle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

